{% extends 'main/base.html' %} {% block title %}Home Page{% endblock %}
{% block content %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% for message in messages %}
{% if message.tags == 'success' %}
<style>
  #custom-target {
    position: absolute;
    width: 600px;
    height: 300px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    top: 0;
    right: 0%
  }

  .position-absolute {
    position: absolute;
  }
</style>
<div id="custom-target"></div>

<script>
  var m = "{{ message }}";
  const Toast = Swal.mixin({
    toast: true,
    position: 'top-end',
    showConfirmButton: false,
    timer: 3000,
    timerProgressBar: true,
    didOpen: (toast) => {
      toast.addEventListener('mouseenter', Swal.stopTimer)
      toast.addEventListener('mouseleave', Swal.resumeTimer)
    }
  })

  Toast.fire({
    icon: 'success',
    title: m
  })
</script>
{% else %}
<!-- sweetalert js -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  var m = "{{ message }}";
  const Toast_error = Swal.mixin({
    toast: true,
    position: 'top-end',
    showConfirmButton: false,
    timer: 3000,
    timerProgressBar: true,
    didOpen: (toast) => {
      toast.addEventListener('mouseenter', Swal.stopTimer)
      toast.addEventListener('mouseleave', Swal.resumeTimer)
    }
  })

  Toast_error.fire({
    icon: 'error',
    title: m
  })
</script>
{% endif %}
{% endfor %}
{% for post in posts %}
<div class="card" style="background-color : rgba(255, 255, 255, 0.5)">
  <div class="card-header" style='background-color : rgba(255, 255, 255, 0.5)'><strong>
      <h4>{{post.title}}</h4>
    </strong></div>
  <div class="card-body d-flex flex-row justify-content-between">
    <div>
      <h5>{{post.description}}</h5>
      {% if post.file %}
      <img src='{{ post.file.url }}' width="600" style="text-align: left;">
      {% endif %}
      <br>
    </div>
    <div>

      </form>
      {% if user == post.author or user.is_superuser%}

      <br>
      <form method="post" onsubmit="return submitForm(this)">
        {% csrf_token %}
        <input type="hidden" name="post-id" value="{{post.id}}">
        <button type="submit" class="btn btn-danger" name="post-id" value="{{post.id}}">Delete</button>

      </form>
      <br>
      {% endif %}
      {% if post.file and user == post.author or post.file and user.is_superuser %}
      <form method="post" onsubmit="return submitForm(this)">
        {% csrf_token %}
        <input type="hidden" name="image-id" value="{{post.id}}">
        <button type="submit" class="btn btn-danger" name="image-id" value="{{post.id}}">
          Delete Image
        </button>
      </form>
      {% endif %}

    </div>
  </div>
  <div class="card-footer text-muted"><strong>@{{post.author}}</strong></div>
</div>
<br>
{% empty %}
<p>No posts yet :(

</p>
{% endfor %}
</div>
<script>
  function submitForm(form) {
    swal({
      title: "Are you sure?",
      text: "Your Post Will Be Deleted",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
      .then(function (isOkay) {
        if (isOkay) {
          form.submit()
        }
      });
    return false;
  }
</script>
{% endblock %}